
Visual Studio/Musicshop/\.vs/

Visual Studio/Musicshop/BLL/bin/

Visual Studio/Musicshop/BLL/obj/

Visual Studio/Musicshop/DAL/bin/

Visual Studio/Musicshop/DAL/obj/

Visual Studio/Musicshop/Musicshop/bin/

Visual Studio/Musicshop/Musicshop/obj/

Visual Studio/Musicshop/Models/bin/

Visual Studio/Musicshop/Models/obj/

Visual Studio/Musicshop/Musicshop\.Tests/obj/

SQL/SQL/\.vs/
